

/* le css des breaking news de l'accueil */
.breaking-news{
	margin-top: -10px; 
}
/* le css du carousel de l'accueil */
.accueil-carousel{
	margin-top:-50px;
}

.les-titres-de-la-page-accueil{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin-top: 200px;
    margin-bottom:50px;
    font-family: 'Times New Roman', Times, serif;
}